* {
    margin: 0;
    padding: 0;
}

.contenedor {
    /* border: solid 1px black; */
}

.fila1,
.fila2,
.fila3 {
    /* border: solid 1px red; */
    display: flex;
    justify-content: center;
}

.infoProveedor,
.estadisticas,
.crearMenu,
.entregarMenu,
.stok,
.mapa {
    border: solid 1px black;
    height: 280px;
    margin: 2%;
}
