body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

#map {
    width: 100%;
    height: 100%;
    position: relative;
}

/* .popup-buttons {
    text-align: center;
} */

.mover {
    border: 1px solid black;
    border-radius: 15px;
    position: absolute;
    bottom: 100px;
    right: 100px;
    z-index: 1;
    background-color: purple;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.marker {
    background-image: url("https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

#createMarkerButton {
    border: 1px solid black;
    border-radius: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#createMarkerButton:hover {
    transition: 0.2s;
    background-color: #45a049;
}

#createMarkerButton.active {
    transition: 0.2s;
    background-color: #008cba;
}
