* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FF4D4D;
}

.fila1,
.fila2,
.fila3 {
    display: flex;
    justify-content: center;
}

.infoProveedor,
.estadisticas,
.crearMenu,
.entregarMenu,
.stok,
.mapa {
    border: solid 1px black;
    height: 280px;
    margin: 2%;
    background-color: #FDFEFE;
}

/* .volverMapa {
    border: 1px solid black;
    border-radius: 15px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
} */

div.titulo {
    height: 20%;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.cantidadMenu {
    background-color: blue;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.menosMenu,
div.masMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.menos,
button.mas {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.cantMenu {
    font-size: 50px;
    padding: 20px;
}

div.btnCrear {
    background-color: orangered;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.crear {
    background-color: #ECA623;
    color: #FFFFFF;
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.selectRider {
    background-color: greenyellow;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.btnConfirm {
    background-color: peru;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.confirm {
    background-color: #ECA623;
    color: #FFFFFF;
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#map {
    width: 100%;
    height: 100% !important;
    position: relative;
}

a.volverBtn {
    height: 30px;
    width: 30px;
    bottom: 0px;

}