body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

#map {
    width: 100%;
    height: 100%;
    position: relative;
}

#super {
    width: 80px;
    height: 120px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}

.popup-buttons {
    text-align: center;
}

.button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.marker {
    background-image: url("https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

/* --------------------------------------------------------------------NAV------------------------------------------------------------------------- */

/* ---------------BOTONES--------------- */

/* PERFIL */

#boton-perfil{
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 0px solid;
}

#boton-perfil:hover {
    padding-top: 5px;
    transition: 0.2s;
    background-color: #decd62;
}

/* CREAR PUA */

#createMarkerButton {
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 0px solid;
}

#createMarkerButton:hover {
    padding-top: 5px;
    transition: 0.2s;
    background-color: #decd62;
}

#createMarkerButton.active {
    transition: 0.2s;
    border-radius: 45px;
    background-color: #008cba;
    padding-top: 5px;
}

/* RESERVAS */

#boton-reservas{
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 0px solid;
}

#boton-reservas:hover {
    padding-top: 5px;
    transition: 0.2s;
    background-color: #decd62;
}

/* HISTORIAL */

#boton-historial{
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 0px solid;
}

#boton-historial:hover {
    padding-top: 5px;
    transition: 0.2s;
    background-color: #decd62;
}

/* ---------------MODALES--------------- */

/* PERFIL */

.modal-perfil {
    font-size: 20px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;    
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Contenido del modal */
.modal-content-perfil {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%; /* Ancho del modal */
    max-width: 400px; /* Ancho máximo */
    text-align: center; /* Alineación centrada */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* PUA */

.modal-pua {
    font-size: 20px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-pua {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%; /* Ancho del modal */
    max-width: 400px; /* Ancho máximo */
    text-align: center; /* Alineación centrada */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* RESERVAS */

.modal-reservas {
    font-size: 20px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;    
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Contenido del modal */
.modal-content-reservas {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%; /* Ancho del modal */
    max-width: 400px; /* Ancho máximo */
    text-align: center; /* Alineación centrada */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* HISTORIAL */

.modal-historial {
    font-size: 20px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;    
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Contenido del modal */
.modal-content-historial {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%; /* Ancho del modal */
    max-width: 400px; /* Ancho máximo */
    text-align: center; /* Alineación centrada */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Botón de cierre del modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para el botón de envío del formulario */
#submitForm {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
    width: 140px;
    height: 50px;
}

#submitForm:hover {
    background-color: #45a049;
}

/* Estilos para los campos del formulario */
input[type="text"] {
    width: calc(100% - 40px);
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type="number"] {
    width: calc(100% - 40px);
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/* Estilos para las etiquetas del formulario */
label {
    padding: 12px 0;
    display: block;
    text-align: left; /* Alinear texto a la izquierda */
}


/* Nav-Bar */

.navbar-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0px 0;
    z-index: 100;
}

.navbar-item {
    display: inline-block;
    margin: 0 0px;
    text-align: center;
}

.navbar-item a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 3px;
    background-size: cover;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-item img {
    width: 85px;
}

.navbar-item a:hover {
    background-color: #decd62;
}

